<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InformeProyecto.Properties.Settings._2dam13ConnectionString"
            connectionString="Data Source=infsalinas.sytes.net,10401;Initial Catalog=2dam13;Persist Security Info=True;User ID=2dam13;Password=55296914S_S22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>